header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 100;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}
 
li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

nav {
    margin: 0 0 0 auto;
}

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}