header{
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    z-index: 100;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}
 
li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

nav {
    margin: 0 0 0 auto;
}

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a {	
    text-decoration: none;
    color: #4b4b4b;
}

#ranking{
    color:blue;
}

.butt{
    text-decoration: none;
    background-color: #F6A38B;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 20px;
}

p{
    text-align: center;
}

h2{
    text-align: center;
}

img{
    width: 320px;
    height: 200px;
}


h1 {
    margin: 0; padding: 0;
    font-size: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

#s{
    color:orange;
}