* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 100px 0 0 0;
    padding: 0;
    background-color: #e6e6e6;
    text-align: center;
}

h1{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

h3#top{
    text-align:start;
    padding-left: 40px;
}

a.menu_a {	
    text-decoration: none;
    color: #4b4b4b;
}

a{
    color: royalblue;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
}

li.head{
    margin: 0 0 0 15px;
    font-size: 14px;
}

li.menu{
    margin-right: 15px;
    text-decoration: underline;
}

nav{
    margin: 4px 0 0 auto;
}

header{
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    z-index: 100;
}

img{
    width: 400px;
    height: 300px;
}

img.dog_zya{
    width: 352px;
    height: 476px;
}

hr#under{
    margin: 50px 0 50px 0;
}

#top{
    margin-top: -70px;
    padding-top: 70px;
}

#siba{
    margin-top: -70px;
    padding-top: 70px;
}

#akita{
    margin-top: -70px;
    padding-top: 70px;
}

#zya{
    margin-top: -70px;
    padding-top: 70px;
}

#sibe{
    margin-top: -70px;
    padding-top: 70px;
}

#gold{
    margin-top: -70px;
    padding-top: 70px;
}

.butt{
    text-decoration: none;
    background-color: cornflowerblue;
    color: #fff;
    text-shadow: 1px 1px #000000;
    margin-bottom: 30px;
    margin-left: 20px;
}

ol{
    
}