* {
    box-sizing: border-box;
 }
 body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
 }
 header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    z-index: 100;
 }

 #title {
    margin: 0; padding: 0;
    font-size: 20px;
 }
 a {	
    text-decoration: none;
    color: #4b4b4b;
 }
 nav {
    margin: 0 0 0 auto;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }

 .noraneko {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background: url('img/いぬねこ改.jpg') top center / cover no-repeat;
 }

.neko {
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 50px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-family: arial black;
 }

 h2 {
   position: relative;
   text-align: center;
   font-size: 25px;
 }
 
 h2:before {
   position: absolute;
   bottom: -10px;
   left: calc(50% - 30px);
   width: 60px;
   height: 5px;
   content: '';
   border-radius: 3px;
   background: #000;
 }

 .description {
    text-align: center;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
 }

 .defaultlist
,.defaultlist li{
	padding:0px;
	margin:0px;
   font-size: 18px;
}
 
.defaultlist li{
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 5px 0px 5px 0px !important;
}
 
.list8{
	counter-reset:li;
	margin-left:20px !important;
}
 
.list8 li{
	position:relative;
	display: block;
	padding:8px 0px 8px 40px; 
}
 
li.list8-count:after{
	counter-increment: li;
	content: counter(li);
	position: absolute;	
	left: -16px;
	top: 2px;
	background: #ccc;
	height: 30px;
	width: 30px;
	line-height: 32px;
	border: 2px solid #aaa;
	text-align: center;
	font-weight: bold;
	border-radius: 30px;
   margin-left: 250px;
   margin-top: 3px;
}
 
li.list8-count:before{
	content:''; 
	display:block; 
	position:absolute; 
	box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
	top:11px; 
	left:15px; 
	height:0; 
	width:0; 
	border-top: 8px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 13px solid #aaa;
   margin-left: 250px;
   margin-top: 3px;
}

strong {
   margin-left: 250px;
   font-size: 20px;
}

.list {
   margin-left: 250px;
}
